/*

CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it
is easier to update the theme. Simply copy an existing
style from style.css to this file, and modify it to
your liking.

*/

#countdown {
	font-size: 25pt;
	padding: 25px 5px 5px 5px;
	width: 100%;
	height: 20px;
}

#countdown .label {
	position: absolute;
	top: -15px;
	left: 4px;
	text-transform: uppercase;
	font-size: 10pt;
}

#countdown .wrapper {
	background: url(images/bullet.png) right center no-repeat;
	background-size: 16px 16px;
	margin:0;
	padding: 0 18px 0 2px;
	display: inline;
	position: relative;
}

#countdown .wrapper:last-child {
	background: none;
}

#error, #message {
	display: none;
	color: white;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 390px;
	margin: auto;
}

#error {
	background-color: rgba(150, 0, 0, 0.3);
}

#message {
	background-color: rgba(0, 150, 0, 0.3);
}

#rsvpd {
	width: 400px;
	background-color: rgba(0, 0, 0, 0.1);
	color: black;
	margin: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

#rsvpd li {
	padding: 5px;
	height: 25px;
	text-align: left;
}

#rsvpd span {
	display: block;
	width: 90px;
	float: left;
}

#rsvpd span:first-child {
	width: 200px;
	overflow: scroll;
}

#rsvpd span:last-child {
	position: absolute;
	right: 15px;
}
