/*

CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it
is easier to update the theme. Simply copy an existing
style from style.css to this file, and modify it to
your liking.

*/

#countdown {
	font-size: 25pt;
	padding: 25px 5px 5px 5px;
	width: 100%;
	height: 20px;
}

#countdown .label {
	position: absolute;
	top: -15px;
	left: 4px;
	text-transform: uppercase;
	font-size: 10pt;
}

#countdown .wrapper {
	background: url(images/bullet.png) right center no-repeat;
	background-size: 16px 16px;
	margin:0;
	padding: 0 18px 0 2px;
	display: inline;
	position: relative;
}

#countdown .wrapper:last-child {
	background: none;
}

#error, #message {
	display: none;
	color: white;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 90%;
	margin: auto;
}

#error {
	background-color: rgba(150, 0, 0, 0.3);
}

#message {
	background-color: rgba(0, 150, 0, 0.3);
}

#rsvpd {
	width: 400px;
	background-color: rgba(0, 0, 0, 0.1);
	color: black;
	margin: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

#rsvpd li {
	padding: 5px;
	height: 25px;
	text-align: left;
}

#rsvpd span {
	display: block;
	width: 90px;
	float: left;
}

#rsvpd span:first-child {
	width: 200px;
	overflow: scroll;
}

#rsvpd span:last-child {
	position: absolute;
	right: 15px;
}

/* typeahead search */
.search-input {
  width: 340px;
  height: 50px;
  font-size: 20px;
  padding-left: 5px;
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}

/* typeahead search */
.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 215px;
  padding: 2px 0;
  margin: 0px 0 0;
  list-style: none;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.tt-footer {
  background-color: rgba(0.2, 0.2, 0.2, 0.2);
  text-transform: italic;
  margin-left: 8px;
  color: #cc3d33;
}
.tt-footer a {
  color: #cc3d33;
}
