::-moz-selection {
	background: #f0987e;}
::selection {
	background: #f0987e;}

h1 span, h2 span, h3 span ,h4 span, h5 span, h6 span,
a:hover, a:focus,
.sub_title,
.entry a:hover,
.entry .link-more {
	color:#f0987e}

input[type="reset"],
input[type="submit"],
input[type="button"],
button,
.button_link,
.btn-submit, input.btn-submit,
.comment-form .btn-submit {
	background:url(../images/button_bg.png) 0 -30px repeat-x #f0977c;
	text-shadow:0 1px 1px #b56148;
	border:1px solid #c0725b;}

.ribbon_left, .ribbon_right {
	background-image:url(styles/beige-turqoise/ribbon_top.png);}

a, a:visited,
.dropdown li:hover a,
.dropdown .current-menu-item a,
.dropdown .current-menu-ancestor a,
.dropdown li ul li:hover a,
.dropdown li:hover li ul li:hover a,
.dropdown .current-menu-ancestor .current-menu-item a,
.dropdown .current-menu-ancestor .current-menu-ancestor a,
.dropdown .current-menu-ancestor .current-menu-ancestor .current-menu-item a,
.bot_box a,
.entry a,
.post-title h2 a:hover,
.post-title h1 a:hover,
.post-author .author,
.comment-author,
.comment-date {
	color:#49cda7;}

.icon_map {
	background-image:url(styles/beige-turqoise/icons/icon_map.png)}
.icon_gift {
	background-image:url(styles/beige-turqoise/icons/icon_gift.png)}
.icon_rsvp {
	background-image:url(styles/beige-turqoise/icons/icon_rsvp.png)}

.link-reply {
	color:#f0987e;}

.tf_pagination .page_prev,
.tf_pagination .page_next {
	background-image:url(styles/beige-turqoise/tf_pagination_arrows.png)}

.cusel .cuselActive {
	color: #f0987e !important;}

/* For iPads */
@media only screen and (device-width: 768px) {
	body {
		background-image:url(../images/bg/pattern_2_yellow.png) !important;
		background-color: #c1c3ab !important;
		background-repeat:repeat !important}
}
