
<!-- image in frame -->
<div class="frame_box frame_big">
  <img src="images/photos/sandpiper-top-page.jpg" width="450" height="192" alt="">
  <span class="img_tl"></span><span class="img_tr"></span><span class="img_bl"></span><span class="img_br"></span>
</div>
    <!--/ image in frame -->

<h1>Make sure you book your hotel early, <br>
Bolinas is an hour drive from San Francisco!</h1>

<p>Find all the information you'll need to get here and enjoy your stay. We can't wait to see you! Find the details below:</p>

<div class="clear"></div>

</div>

<!-- hotels list -->
<div class="hotels_list">

  <div class="hotel-item">

      <h3>HOTEL OPTION 1: <a href="http://www.sandpiperstinsonbeach.com/" target="_blank">SANDPIPER LODGING AT THE BEACH</a></h3>

<a href="https://maps.google.com/maps?q=The+Sandpiper+Lodging+at+the+Beach/@37.89753,-122.638504&z=15&amp;output=embed?iframe=true&width=460&height=345" class="box_icon icon_map" data-rel="prettyPhoto" target="_blank"></a>

        <div class="item_descr">
<p>The Sandpiper Inn Motel is located in downtown Stinson Beach, a 10 minute drive from the wedding venue. Rooms range from <span class="text-black">$130</span> to <span class="text-black">$225</span> a night</p>
<br />
<p>1 Marine Way, Stinson Beach, CA 94970, <a href="tel:4158681632">(415) 868-1632</a></p>
        </div>

        <div class="clear"></div>
    </div>

    <div class="hotel-item">

      <h3>HOTEL OPTION 2: <a href="http://www.stinsonbeachmotel.com/" target="_blank">STINSON BEACH MOTEL</a></h3>
<a href="https://maps.google.com/maps?q=3416+CA-1,+Stinson+Beach,+CA+94970/@37.8986212,-122.6380318&z=15&amp;output=embed?iframe=true&width=460&height=345" class="box_icon icon_map" data-rel="prettyPhoto" target="_blank"></a>

        <div class="item_descr">
<p>Stinson Beach Hotel is located just two blocks from the beach. Rooms range from <span class="text-black">$159.00</span> to <span class="text-black">$259.00</span> a night</p>
<br />
<p>3416 St. Rt. 1, Stinson Beach, CA 94970, <a href="tel:4158681712">(415) 868-1712</a></p>
        </div>
        <div class="clear"></div>
    </div>

</div>
