
      <!-- image in frame -->
    <div class="frame_box frame_big">
 	  	<img src="images/photos/cb-top-page.jpg" width="450" height="192" alt="">
      <span class="img_tl"></span><span class="img_tr"></span><span class="img_bl"></span><span class="img_br"></span>
    </div>
      <!--/ image in frame -->

      <h1>Ceremony &amp; Reception</h1>

<div class="text_center">
      <p>The wedding will be held at Mann Family Farm,
<span class="text-black">605 Horseshoe Hill Road, Bolinas, California</span>.
The ceremony begins at <span class="text-black">4:00PM</span> and festivities will run until <span class="text-black">10:00PM</span>, make sure you
<a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Cambi%20%26%20Ben's%20Wedding&location=Mann%20Family%20Farm%2C%20605%20Horseshoe%20Hill%20Road%2C%20Bolinas%2C%20California%2094924&details=http%3A%2F%2Fwww.cambiandben.com&dates=20151023T230000Z/20151023T290000Z" target="_blank">put it in your calendar</a>.
</div>

  <div class="clear"></div>
  </div>

  <!-- bottom box content -->
  <div class="bot_box">
  	<div class="bot_box_inner">

          <a href="https://maps.google.com/maps?q=79+Broadway,+Lower+Manhattan,+New+York&hl=en&sll=40.707668,-74.01179&sspn=0.010459,0.026157&t=m&hnear=79+Broadway,+New+York,+10006&z=15&amp;output=embed?iframe=true&width=460&height=345" class="box_icon icon_map" data-rel="prettyPhoto" target="_blank"></a>
<p>NOT FAMILIAR WITH THE LOCATION? <a href="https://maps.google.com/maps?q=605+Horseshoe+Hill+Rd,+Bolinas,+CA+94924/@37.933873,-122.703961&z=15&amp;output=embed?iframe=true&width=460&height=345" class="link-more" data-rel="prettyPhoto" target="_blank">VIEW ON MAP</a></p>
      </div>

</div>
