  <!-- image in frame -->
<div class="frame_box frame_big">
  <img src="images/photos/cb-top-page.jpg" width="450" height="192" alt="">
  <span class="img_tl"></span><span class="img_tr"></span><span class="img_bl"></span><span class="img_br"></span>
</div>
    <!--/ image in frame -->

<div class="text_big">
  <p>The ceremony & the party will both be held at
  <a href="http://mannfamilyfarm.com/" target="_blank">Mann Family Farm</a> in the beautiful coastal town of Bolinas California.</span>
  Please make sure to <a href="/rsvp">RSVP here.</a></p>
</div>

<div class="clear"></div>

<div class="social_box"></div>

<div id="countdown">
  <div class="wrapper">
    <span class="label">Days</span>
    <span class="days"></span>
  </div>

  <div class="wrapper">
    <span class="hours"></span>
    <span class="label">Hrs</span>
  </div>

  <div class="wrapper">
    <span class="minutes"></span>
    <span class="label">Mins</span>
  </div>

  <div class="wrapper">
    <span class="seconds"></span>
    <span class="label">Secs</span>
  </div>
</div>

</div>
