<div class="text_big">
<p>We are registered at the following stores. Just <strong>click the photo or the name</strong> of the store to go right to our registry. Thank you so much!</p>
</div>

<div class="divider_space_thin"></div>

<div class="row">
  <div class="col col_1_3">
<a href="#"><img src="images/temp/register_img_1.png" width="146" height="146" alt=""></a>
        <div class="register_name">Bed Bath & Beyond<br>
        <a href="#">GO TO STORE</a>
        </div>
    </div>

  <div class="col col_1_3">
<a href="#"><img src="images/temp/register_img_2.png" width="146" height="146" alt=""></a>
        <div class="register_name">Target<br>
        <a href="#">GO TO STORE</a>
        </div>

    </div>
  <div class="col col_1_3">
<a href="#"><img src="images/temp/register_img_3.png" width="146" height="146" alt=""></a>
        <div class="register_name">Amazon<br>
        <a href="#">GO TO STORE</a>
        </div>
    </div>
</div>

<div class="divider_space"></div>

<div class="clear"></div>
</div>

<!-- bottom box content -->
<div class="bot_box">
<div class="bot_box_inner">

    <span class="box_icon icon_rsvp"></span>
<p>DON’T FORGET TO RSVP! YOU CAN DO THAT <a href="rsvp.html" class="link-more">HERE</a></p>

</div>
<!--/ bottom box content -->
</div>
