
 <h1>Presence, not presents! RSVP right here:</h1>

 <p>We know weddings can be expensive and most of you will be travelling to here and staying over. To help, we've decided to  have a "<strong>presence not presents</strong>" policy.</p>

<div class="clear"></div>
</div>


         <!-- add comment -->
                 <div class="add-comment contact-form">

                     <div class="comment-form">
                     <form action= "#" method="post" id="reservationForm" id="commentForm">

                         <div class="row field_text alignleft">
                             <label class="label_title"><strong>First name:</strong></label>
                             <input type="text" name="f_name" id="f_name" value="" class="inputtext input_middle required">
                         </div>

                         <div class="row field_text alignleft omega">
                             <label class="label_title"><strong>Last name:</strong></label>
                             <input type="text" name="l_name" id="l_name" value="" class="inputtext input_middle required">
                         </div>

                         <div class="clear"></div>

         <div class="row field_text alignleft">
                             <label class="label_title"><strong>Email:</strong></label>
                             <input type="text" name="email" id="email" value="" class="inputtext input_middle required">
                         </div>

                         <div class="row field_text alignleft omega">
                             <label class="label_title"><strong>Phone:</strong></label>
                             <input type="text" name="phone" id="phone" value="" class="inputtext input_middle required">
                         </div>

                         <div class="clear"></div>


                         <div class="row alignleft input_styled inlinelist omega">
                       <div class="rowRadio"><input type="radio" name="attending" value="yes" id="radio_v1" checked> <label for="radio_v1">YES, I AM ATTENDING</label></div>
                       <div class="rowRadio"><input type="radio" name="attending" value="no" id="radio_v2"> <label for="radio_v2">NO, I’M NOT ATTENDING</label></div>
                   </div>

                         <div class="clear"></div>

                         <div class="row rowSubmit">
                         <input type="submit" id="send" name="btnsubmit" value="RSVP NOW" class="btn-submit">
                         </div>
                     </form>
                     </div>
                 </div>
         <!--/add comment -->

     <div class="divider_space_thin"></div>

     <!-- bottom box content -->
     <div class="bot_box">
       <div class="bot_box_inner">

             <span class="box_icon icon_gift"></span>
   <p>WANT TO CONTRIBUTE TO THE GIFTS? <a href="registry.html" class="link-more">VIEW REGISTRY</a></p>

         </div>
     </div>
