
<h1>Save a tree, RSVP online:</h1>
<p>
  To lookup your invitation and RSVP, use the same email address
  that we sent your save-the-date message to. <a href="mailto:bencoe@gmail.com">Let us
  know</a> if you run into any problems!
</p>
<p>
  Please RSVP by September 23<sup>rd</sup> 2015.
</p>
<div class="clear"></div>

<div id="error" class="error-message" style="display: none; background-color: rgba(150, 0, 0, 0.5);"></div>
<div id="message" class="status-message" style="display: none; background-color: rgba(0, 150, 0, 0.5);"></div>

</div>

<!-- add comment -->
<div class="add-comment contact-form" id="rsvp-form">
  <div class="comment-form">

  </div>
</div>

<div class="bot_box"></div>

<!--/add comment -->

<div class="divider_space_thin"></div>

<!-- bottom box content -->
<div class="bot_box">
 <div class="bot_box_inner">
   <span class="box_icon icon_gift"></span>
   <p>WANT TO CONTRIBUTE TO THE GIFTS? <a href="/registry" class="link-more">VIEW REGISTRY</a></p>
 </div>
</div>
